<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
        .path {
            stroke-dasharray: 261;
            stroke-dashoffset: 0;
            -webkit-animation: dash 3s linear forwards;
            animation: dash 3s linear forwards;
        }

        @-webkit-keyframes dash {
          to {
            stroke-dashoffset: 260;
          }
        }

        @keyframes dash {
          to {
            stroke-dashoffset: 260;
          }
        }
    }
</style>
</head>
<body>

<svg width="400" height="400" xmlns="http://www.w3.org/2000/svg">
    <g>
        <title>fire line</title>
        <image xlink:href="../assets/img/fire.gif" src="../assets/img/fire.gif" width="60px" height="55px" style="display:block;">
            <animateMotion path="M100,10 q30,50 10,100 q-30,100 10,150" begin="0s" dur="3s" rotate="auto" repeatCount="1"/>
        </image>

        <path class="path" d="M100,300 q-30,-50 -10,-100 q30,-100 -10,-150" stroke="#000" stroke-width="6" stroke-linecap="round" fill="none"/>
    </g>
</svg>

<script>
    var path = document.querySelector('.path');
    var length = path.getTotalLength();
    console.log(length);
</script>

<!-- M100,50 q30,50 10,100 q-30,100 10,150 -->
<!-- M120,25 q30,50 10,100 q-30,100 10,150 -->

<!-- M100,300 q-30,-50 -10,-100 q30,-100 -10,-150 -->
<!-- M90,150 q30,50 10,100 q-30,100 10,150 -->

</body>